* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #000;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#header, main {
  background-color: #fff;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.hide {
  display: none;
}
#d_log {
  display: none;
}

#check_log:checked + #d_log {
  display: block;
}

/* HEADER Style*/
#header {
  color: #000;
  text-align: center;
  padding-bottom: 4rem;
}
#header h1 {
  margin: 0;
  padding: 3rem;
}
#h_nav {
  display: flex;
  flex-direction: column;
}
#h_nav ul li {
  margin-bottom: 1rem;
}
#h_nav h2 {
  font-weight: normal;
}
/*#h_nav ul li {
  color: #000;
  display: inline-block;
  transition: 0.5s;
  font-weight: normal;
}*/
#h_nav > ul li:hover, #user_box ul li {
  color: #FFF;
  background-color: #000;
  border-radius: 5px;
}

#user_box {
  position: relative;
}
#user_box ul {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
}
#user_box > a h2:hover , #user_box ul li h2:hover {
  color: #000;
  background-color: #FFF;
  border-radius: 5px;
}
#user_box:hover ul {
  display: flex;
}
/* Sign in link */
#sign_in_link {
  text-align: center;
  margin-bottom: 4rem;
}

/* Accueil Article Style */
aside {
  display: none;
}

#s_post {
  padding: 2rem;
}
.art {
  margin-bottom: 3rem;
  padding: 0.5rem;
  text-align: center;
}
.art img {
  max-width: 100%;
}
.art h3 {
  display: inline-block;
}
.art > *:not(:last-child) {
  margin-bottom: 1rem;
}


/* Post Article Style */
#post .art > *:not(:last-child) {
  margin-bottom: 2rem;
}

/* Show Commentaires */
#show_comms {
  text-align: center;
  font-size: 1.5em;
}
#show_comms button {
  font-size: 2em;
}
#show_comms p {
  margin-bottom: 1rem;
}

/* Post Commentaires */
#s_comms {
  padding: 2rem;
  display: none;
}

#s_comms > h2, #sign_in h2, .nbcomm {
  text-align: center;
  font-weight: normal;
  padding: 1rem;
  border: 2px solid #000;
  margin-bottom: 3rem;
}
.nbcomm {
  font-size: 2.5em;
  width: 70%;
  margin-bottom: 2rem;
}
.nbcomm + h3 {
  width: 70%;
  margin: 1rem auto;
}
.comm {
  margin-bottom: 3rem;
  padding: 1rem;
}
.comm > * {
  margin-bottom: 1rem;
}
.comm div:first-child:after {
  content: '';
  display: block;
  clear: both;
}
.comm div img {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 1rem;
}
.comm div h3 {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 0;
}
.comm p {
  font-size: 2em;
}
.comm div p {
  display: inline-block;
  font-size: 2em;
}
#add_comm {
  display: block;
  margin: auto;
  font-size: 3em;
  margin-bottom: 2rem;
}
.d_button button, .d_form button {
  margin: auto;
  margin-right: 0;
  display: block;
  font-size: 2em;
}
.d_button > button {
  margin-bottom: 1rem;
}
.d_form {
  max-width: 100%;
}
.d_form ul li:not(:last-child) {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  margin-bottom: 1rem;
}
.d_form ul li label {
  font-size: 2.5em;
}
.d_form fieldset h2 {
  font-size: 3em;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: normal;
}
textarea {
  font-size: 1.5em;
}
.d_form fieldset, .d_form input[type='text'] {
  border: 2px solid #000;
}

/* Connexion Page Style */
form#log_in {
  margin-bottom: 4rem;
}
#connexion #log_in h2 {
  text-align: center;
  font-weight: normal;
  font-size: 5em;
  margin-bottom: 4rem;
  padding: 1rem;
  border: 2px solid #000;
}

#connexion #log_in fieldset, #inscription #sign_in fieldset {
  width: 75%;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 3rem;
}
#connexion #log_in ul li:not(:last-child), #inscription #sign_in ul li:not(:last-child) {
  text-align: center;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  margin-bottom: 2rem;
}
#connexion #log_in li *, #inscription #sign_in li * {
  font-size: 3em;
  width: 100%;
}
#connexion #log_in li:last-child, #inscription #sign_in li:last-child {
  text-align: center;
}
#connexion #log_in button {
  width: 50%;
}
input[type='file'] {
  color: transparent;
}

/* New Billet Page Style */
#new_billet main h1 {
  text-align: center;
  font-weight: normal;
  font-size: 4rem;
  padding: 5px 10px;
  border: 2px solid #000;
  margin: 0 1rem 2rem;
}
#new_billet fieldset {
  border: none;
  font-size: 2rem;
}
#new_billet form ul li:not(:last-child) {
  display: grid;
  grid-template-areas: "one two";
  grid-template-columns: 0.15FR 0.8FR;
  margin: 0 auto 1rem;
}
#new_billet form ul li:last-child {
  text-align: center;
  margin-top: 3rem;
}
#new_billet form ul li label {
  text-align: right;
  margin-right: 5px;
}
#new_billet label[for='description'] {
  vertical-align: top;
}
#new_billet select {
  width: 50%;
}
#new_billet button {
  padding: 5px 10px;
}
#new_billet input[name='title'], textarea {
  border: 2px solid #000;
}



/* Desktop */
@media SCREEN and (min-width: 1024px) {
  main {
    padding: 1rem;
  }

  h1 {
    font-size: 5em;
    font-weight: normal;
  }

  h2 {
    font-size: 3em;
  }

  h3:not(.comm div h3) {
    font-size: 1em;
  }

  p, .comm p, .comm div p {
    font-size: 1.5em;
  }

  #h_nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #h_nav > ul li {
    margin-bottom: 0rem;
    width: 100%;
  }
  #h_nav ul li h2 {
    font-weight: normal;
  }

  #articles, #s_post, #show_comms, #test, #result main > section {
    width: 70%;
    padding: 0 1rem;
    display: inline-block;
  }
  #accueil .art div {
    font-size: 0.7em;
  }
  .art div h3 {
    font-weight: normal;
  }
  .art {
    text-align: left;
  }

  #post main section:not(#s_post) {
    width: 70%;
    font-size: 0.85em;
  }

  aside {
    width: 30%;
    padding: 2rem;
    vertical-align: top;
    background-color: #000;
    color: #fff;
    display: inline-block;
  }

  #connexion #log_in h2,  #inscription #sign_in h2 {
    font-size: 3em;
  }
  #connexion #log_in fieldset {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 2rem;
  }
  #connexion #log_in li *, #inscription #sign_in li * {
    font-size: 2em;
  }


  .d_form fieldset h2 {
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: normal;
  }
  .d_form ul li label {
    font-size: 1.5em;
  }

  #show_comms button {
    font-size: 1.5em;
  }
  #test {
    background-color: #fff;
  }
  #admin {
    position: absolute;
    left: 0;
    color: #fff;
  }
  #admin h2 {
    font-weight: normal;
    border: 1px solid #000;
    display: inline-block;
    padding: 1rem;
  }
  #administration main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sec_admin textarea{
    font-size: 1em;
    width: 100%;
  }
  #administration * {
    font-weight: normal;
  }
  #administration section > h2 {
    text-align: center;
  }
  #administration form {
    width: 345px;
  }
}
