* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 2.5em;
}
a {
  text-decoration: none;
  color: inherit;
}


/* HEADER Style*/
#header {
  color: #000;
  text-align: center;
}
#h_nav {
  margin-bottom: 6rem;
}
#h_nav ul li:not(:last-child) {
  margin-bottom: 1rem;
}
#h_nav ul li, #new_billet form ul li {
  list-style-type: none;
}
#h_nav a h2 {
  color: #000;
  display: inline-block;
  transition: 0.5s;
  font-weight: normal;
}
#h_nav a h2:hover {
  color: #FFF;
  background-color: #000;
  border-radius: 5px;
}


/* Accueil Article Style */
#s_post {
  padding: 2rem;
}
.art {
  margin-bottom: 3rem;
}
.art img {
  max-width: 100%;
}
.art h3 {
  display: inline-block;
}
.art > *:not(:last-child) {
  margin-bottom: 1rem;
}


/* Post Article Style */
#post .art > *:not(:last-child) {
  margin-bottom: 2rem;
}


/* Post Commentaires */
#s_comms {
  padding: 3rem;
}
#s_comms h2 {
  text-align: center;
  font-weight: normal;
  padding: 1rem;
  border: 2px solid #000;
  margin-bottom: 3rem;
}
.comm {
  margin-bottom: 3rem;
}
.comm > * {
  margin-bottom: 1rem;
}
.comm div:after {
  content: '';
  display: block;
  clear: both;
}
.comm div img {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 1rem;
}
.comm div h3 {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 0;
}
.comm div p {
  display: inline-block;
  font-size: 2em;
}
.comm p:last-child {
  text-align: right;
}

/* New Billet Page Style */
#new_billet main h1 {
  text-align: center;
  font-weight: normal;
  font-size: 4rem;
  padding: 5px 10px;
  border: 2px solid #000;
}
#new_billet fieldset {
  border: none;
  font-size: 2rem;
}
#new_billet form ul li:not(:last-child) {
  display: grid;
  grid-template-areas: "one two";
  grid-template-columns: 0.15FR 0.8FR;
  margin: 0 auto 1rem;
}
#new_billet form ul li:last-child {
  text-align: center;
  margin-top: 3rem;
}
#new_billet form ul li label {
  text-align: right;
  margin-right: 5px;
}
#new_billet label[for='description'] {
  vertical-align: top;
}
#new_billet select {
  width: 50%;
}
#new_billet button {
  padding: 5px 10px;
}
#new_billet input[name='title'], textarea {
  border: 2px solid #000;
}
